<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fighter.ace.cms.dao.main.CmsUserDao">
    <resultMap id="userBeanMap" type="com.fighter.ace.cms.entity.main.CmsUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP"/>

        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_pwd" property="userPwd" jdbcType="VARCHAR"/>
        <result column="real_name" property="realName" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <result column="last_login_time" property="lastLoginTime" jdbcType="TIMESTAMP"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="is_admin" property="isSuper" jdbcType="BOOLEAN"/>
    </resultMap>

    <!-- 添加用户 -->
    <insert id="insert" parameterType="com.fighter.ace.cms.entity.main.CmsUser" keyProperty="id" useGeneratedKeys="true">
        insert into t_user (
        create_time,
        modified_time,
        user_name,
        user_pwd,
        real_name,
        role,
        last_login_time,
        status
        )
        values (
        now(),
        now(),
        #{userName},
        #{userPwd},
        #{realName},
        #{role},
        now(),
        1
        )
    </insert>

    <!-- 根据username查询用户 -->
    <select id="listBy" parameterType="java.util.Map" resultMap="userBeanMap">
        select *
        from t_user
        where status = 1
        <if test="username != null"> and user_name = #{username} </if>
        <if test="role != null"> and role = #{role} </if>
    </select>

    <select id="getById" parameterType="java.lang.Long" resultMap="userBeanMap">
        select *
        from t_user
        where id = #{id}
    </select>


    <!-- 查询总页数 -->
    <select id="listPageCount" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT
        COUNT(1)
        FROM
        t_user
        where status = 1
    </select>

    <!-- 查询分页用户 -->
    <select id="listPage" parameterType="java.util.Map" resultMap="userBeanMap">
        SELECT
        *
        FROM
        t_user
        where status = 1
        ORDER BY id DESC
        LIMIT #{pageFirst},#{pageSize}
    </select>

    <!-- 根据条件查询分页用户 -->
    <select id="countByPageParam">

    </select>


    <!-- 更新用户信息 -->
    <update id="update" parameterType="com.fighter.ace.cms.entity.main.CmsUser">
        update t_user
        set modified_time = now()
        <if test="userPwd != null">,user_pwd = #{userPwd}</if>
        <if test="lastLoginTime != null">,last_login_time = #{lastLoginTime}</if>
        <if test="realName != null">,real_name = #{realName}</if>
        <if test="role != null">,role = #{role}</if>
        <if test="status != null">,status = #{status}</if>
        where id = #{id}
    </update>
</mapper>