<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fighter.ace.cms.dao.external.MallDao">

    <resultMap id="beanMap" type="com.fighter.ace.cms.entity.external.Mall">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modified_time" property="modifiedTime" jdbcType="TIMESTAMP"/>

        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="VARCHAR"/>
        <result column="pic_url" property="picUrl" jdbcType="VARCHAR"/>

        <result column="material" property="material" jdbcType="VARCHAR"/>
        <result column="size" property="size" jdbcType="VARCHAR"/>

        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="model" property="model" jdbcType="VARCHAR"/>
        <result column="mark" property="mark" jdbcType="VARCHAR"/>

        <result column="series" property="series" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="insert" parameterType="com.fighter.ace.cms.entity.external.Mall" keyProperty="id" useGeneratedKeys="true">
        INSERT t_mall(
            create_time,
            name,
            type,
            price,
            label,
            model,
            series,
            material,
            size,
            pic_url,
            mark,
            status)
        VALUES (
            now(),
            #{name},
            #{type},
            #{price},
            #{label},
            #{model},
            #{series},
            #{material},
            #{size},
            #{picUrl},
            #{mark},
            0
            )
    </insert>
    <!-- 查询页数 -->
    <select id="listPageCount" parameterType="java.util.Map" resultType="java.lang.Long">
            SELECT
                COUNT(1)
            FROM
                t_mall
            WHERE status != -1
            <if test="name != null">AND name Like #{name}</if>
            <if test="status != null">AND status = #{status}</if>
            <if test="type != null"> AND type=${type} </if>
    </select>

    <!-- 查询分页 -->
    <select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
        SELECT *
        FROM
        t_mall
        WHERE status != -1
        <if test="name != null">AND name Like #{name}</if>
        <if test="status != null">AND status = #{status}</if>
        <if test="type != null"> AND type = #{type} </if>
        ORDER BY id DESC
        LIMIT #{pageFirst},#{pageSize}
    </select>

    <select id="getById" resultMap="beanMap" parameterType="java.lang.Long">
        SELECT *
        FROM t_mall
        WHERE id = #{id}
    </select>

    <update id="update" parameterType="com.fighter.ace.cms.entity.external.Mall">
        UPDATE t_mall
        SET modified_time = now()
        <if test="name!=null">
            ,name = #{name}
        </if>
        <if test="type!=null">
            ,type = #{type}
        </if>
        <if test="price!=null">
            ,price = #{price}
        </if>
        <if test="picUrl!=null">
            ,pic_url = #{picUrl}
        </if>
        <if test="label!=null">
            ,label = #{label}
        </if>

        <if test="model!=null">
            ,model = #{model}
        </if>
        <if test="series!=null">
            ,series = #{series}
        </if>
        <if test="material!=null">
            ,material = #{material}
        </if>
        <if test="size!=null">
            ,size = #{size}
        </if>
        <if test="mark!=null">
            ,mark = #{mark}
        </if>
        <if test="status!=null">
            ,status = #{status}
        </if>
        WHERE id = #{id}
    </update>


    <update id="deleteById" parameterType="java.lang.Long">
        UPDATE t_mall
        SET
        modified_time = now(),
        status = -1
        where id = #{id}
    </update>
    <!-- 批量删除 -->
    <update id="deleteBatch" parameterType="java.lang.Long">
        UPDATE t_mall
        SET status = -1
        where id IN
        <foreach item="id" collection="array" open="(" separator = "," close=")">
            #{id}
        </foreach>
    </update>

    <!-- 批量审批 -->
    <update id="approveBatch" parameterType="java.lang.Long">
        UPDATE t_mall
        SET status = 1
        where id IN
        <foreach item="id" collection="array" open="(" separator = "," close=")">
            #{id}
        </foreach>
    </update>

</mapper>