.xin_titlemsg dd {
	margin: 8px 0px; color: rgb(147, 161, 173); float: left; display: inline-block;
}
.xin_titlemsg li {
	margin: 8px 0px; color: rgb(147, 161, 173); float: left; display: inline-block;
}
.xin_titlemsg li {
	padding: 0px 20px; color: rgb(221, 221, 221); font-size: 12px;
}
.xin_titlemsg .xin_ico2 {
	background: url("img/find.png") no-repeat 0px 5px; height: 21px; line-height: 21px; padding-left: 22px; font-size: 12px; margin-left: 5px;
}
.xin_titlemsg .xin_ico3 {
	background: url("img/comment.png") no-repeat 0px 5px; height: 21px; line-height: 21px; padding-left: 20px; font-size: 12px; margin-left: 5px;
}
.xin_titlemsg .xin_ico5 {
	background: url("img/like.png") no-repeat 0px 3px; height: 21px; line-height: 21px; padding-left: 20px; font-size: 12px;
}
.xin_zpmore a {
	color: rgb(58, 164, 213); text-decoration: none;
}
.xin_zpmore a:hover {
	color: rgb(25, 107, 141);
}
.xin_details {
	width: 100%; margin-top: 25px; border-collapse: collapse;
}
.xin_details td {
	height: 30px; padding-left: 8px; font-size: 14px;
}
.xin_details td a {
	color: rgb(58, 164, 213); font-size: 14px;
}
.xin_details td a:hover {
	color: rgb(25, 107, 141);
}
.xin_keyword {
	margin-top: 18px;
}
.xin_keyword font {
	color: rgb(101, 101, 101); font-size: 14px; font-weight: 900;
}
.xin_keyword a {
	margin: 0px 10px; color: rgb(101, 101, 101); font-size: 14px;
}
.xin_keyword a:hover {
	text-decoration: underline;
}
.xin_dpedit {
	width: 100%; height: 100px; overflow: hidden; resize: none;
}
.xin_getxx {
	margin-top: 10px;
}
.xin_getxx a {
	background: url("img/xin1.png") no-repeat bottom; width: 14px; height: 14px; margin-top: 15px; margin-right: 2px; display: inline-block; cursor: pointer;
}
.xin_getxx span {
	color: rgb(0, 0, 0); padding-top: 13px; padding-right: 8px; float: left; _padding-top: 15px;
}
.xin_getxx .xin_givexx {
	background: url("img/xin2.png") no-repeat;
}
.xin_djpl {
	padding: 0px 40px; border-radius: 3px; border: 0px currentColor; border-image: none; height: 40px; color: rgb(255, 255, 255); line-height: 40px; font-size: 18px; cursor: pointer; background-color: rgb(53, 152, 219); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
#textarea_ts {
	background: url("img/show/textarea.png") no-repeat; left: 5px; height: 22px; bottom: 10px; color: rgb(203, 203, 203); line-height: 23px; padding-left: 30px; position: absolute;
}
.xin_show_shoucang {
	width: 50px; height: 60px; text-align: center; color: rgb(95, 109, 121); line-height: 60px; font-size: 14px; background-color: rgb(223, 228, 234);
}
.xin_show_zan {
	background: rgb(223, 228, 234); margin: 0px 1px; width: 50px; height: 60px; text-align: center; color: rgb(95, 109, 121); line-height: 60px; font-size: 14px;
}
.baitiao {
	background: rgb(133, 195, 96); width: 130px; color: rgb(255, 255, 255); line-height: 1em;
}
.baitiao span {
	height: 20px; display: block;
}
.baitiao span:first-child {
	height: 20px; font-size: 18px; margin-top: 16px; display: block;
}
.baitiao span:last-child {
	height: 20px; font-size: 12px; display: block; opacity: 0.8;
}
.xin_dplist {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(231, 231, 231) rgb(231, 231, 231); border-image: none; background-color: rgb(255, 255, 255);
}
.xin_softlist {
	width: 100%; border-collapse: collapse;
}
.xin_softlist tr {
	border-top-color: rgb(239, 239, 239); border-bottom-color: rgb(239, 239, 239); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.xin_softlist td {
	height: 100px;
}
.xin_softimg {
	width: 90px; padding-top: 4px;
}
.xin_softimg img {
	width: 68px; height: 68px;
}
.xin_softcontent div {
	padding-bottom: 3px; font-size: 14px; font-weight: bold;
}
.xin_softcontent div a {
	color: rgb(51, 102, 153); text-decoration: none;
}
.xin_softcontent div a:hover {
	color: rgb(25, 107, 141); text-decoration: underline;
}
.xin_softcontent p {
	color: rgb(133, 134, 134); line-height: 1.5; font-size: 12px;
}
.xin_softcontent span {
	color: rgb(193, 201, 208); font-size: 12px;
}
.show_model_jinpin {
	background: url("img/jingpin3.png") no-repeat; left: -2px; top: -2px; width: 94px; height: 94px; position: absolute;
}
.show_model_jinpin2 {
	background: url("img/jingpin4.png") no-repeat; left: -2px; top: -2px; width: 55px; height: 55px; position: absolute;
}
.show_xg {
	padding: 10px 14px 30px; border-image: none; color: rgb(101, 101, 101); line-height: 30px; background-color: rgb(255, 255, 255);
}
.show_xgcont {
	border-width: 1px 1px medium; border-style: solid solid none; border-color: rgb(231, 231, 231) rgb(231, 231, 231) currentColor; margin: 12px auto 0px; padding: 0px 14px 30px; border-image: none; background-color: rgb(255, 255, 255);
}
.show_xgcont_pl {
	margin: 20px 0px; color: rgb(51, 51, 51); font-size: 16px;
}
.show_xginput {
	border: 1px solid rgb(240, 240, 240); border-image: none; height: 120px; padding-bottom: 22px; position: relative;
}
.xin_xiazai {
	background: url("img/show/down.png") no-repeat 40px rgb(255, 113, 0); width: 170px; height: 60px; text-align: center; color: rgb(255, 255, 255); line-height: 60px; padding-left: 20px; font-size: 18px; cursor: pointer;
}
.show_factory {
	margin: 12px auto 0px; padding: 0px 14px 20px; border: 1px solid rgb(231, 231, 231); border-image: none; background-color: rgb(255, 255, 255);
}
.show_factit {
	padding: 10px 0px; width: 100%; height: 40px; line-height: 40px; font-size: 16px; position: relative;
}
.show_factit .issue_price {
	padding: 0px 10px; width: 100px; height: 30px; text-align: center; right: 0px; color: rgb(255, 255, 255); line-height: 30px; font-size: 12px; margin-top: 10px; display: inline-block; position: absolute; cursor: pointer; background-color: rgb(228, 80, 80);
}
.title_factory {
	width: 100%; height: 60px; line-height: 60px; position: relative;
}
.title_factory .issue_price {
	padding: 0px 10px; border-radius: 3px; height: 30px; right: 0px; color: rgb(255, 255, 255); line-height: 30px; font-size: 14px; display: inline-block; position: absolute; cursor: pointer; background-color: rgb(53, 152, 219); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.show_fac_table {
	width: 100%; color: rgb(0, 0, 0); font-size: 14px; border-collapse: collapse;
}
.show_fac_table tr {
	border-right-color: rgb(240, 209, 194); border-left-color: rgb(240, 209, 194); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid;
}
.show_fac_table th {
	text-align: left; padding-left: 10px; border-bottom-color: rgb(240, 209, 194); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 250, 231);
}
.show_fac_table td {
	text-align: left; padding-left: 10px; border-bottom-color: rgb(240, 209, 194); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(255, 250, 231);
}
.show_fac_table th {
	height: 40px; color: rgb(255, 255, 255); font-weight: normal; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; background-color: rgb(228, 80, 80);
}
.show_fac_table td {
	height: 60px;
}
