* {
	list-style: none; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; font-family: "microsoft Yahei","Î¢ÈíÑÅºÚ","Hiragino Sans GB",tahoma,arial; font-size: 13px;
}

a {
	text-decoration: none;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
.hide {
	display: none;
}
.xin_c29 {
	color: rgb(34, 154, 233);
}
.xin_c66 {
	color: rgb(102, 102, 102);
}
.xin_bbf0 {
	border-bottom-color: rgb(240, 240, 240); border-bottom-width: 1px; border-bottom-style: solid;
}
.xin_whiteback {
	background-color: rgb(255, 255, 255);
}
.xin_posturl {
	cursor: pointer;
}
#xin_public {
	left: 0px; top: 0px; width: 100%; height: 167px; position: fixed; z-index: 9999999;
}
#xin_public_cont {
	margin: 0px; padding: 0px; height: 167px;
}
.xin_top {
	height: 33px; font-size: 14px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid; background-color: rgb(246, 246, 246);
}
.xin_top .xin_top_cont {
	margin: auto; width: 1200px; line-height: 33px; position: relative;
}
.xin_top .xin_top_cont .xin_top_cont_mobile {
	background: url("img/qqkf.png") no-repeat; height: 16px; line-height: 16px; padding-left: 20px; font-size: 15px; margin-top: 8px;
}
.xin_top_name {
	background: url("img/xj.png") no-repeat right; padding-right: 22px; margin-left: 15px; position: relative;
}
.xin_top_info {
	top: 33px; width: 120px; right: 0px; position: absolute; z-index: 99999; background-color: rgb(239, 243, 245);
}
.xin_top_info a {
	padding: 4px 0px 4px 40px; color: rgb(0, 0, 0); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.xin_top_info_zx a {
	padding: 4px 0px 4px 40px; color: rgb(0, 0, 0); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.xin_top_info a:hover {
	color: rgb(52, 152, 219); background-color: rgb(255, 255, 255);
}
.xin_top_info_zx a:hover {
	color: rgb(52, 152, 219); background-color: rgb(255, 255, 255);
}
.xin_top_info_cz1 {
	background-position: 15px 0px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-image: url("img/mx_dh.png"); background-repeat: no-repeat;
}
.xin_top_info_cz2 {
	background-position: 15px -40px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-image: url("img/mx_dh.png"); background-repeat: no-repeat;
}
.xin_top_info_cz3 {
	background-position: 15px -80px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-image: url("img/mx_dh.png"); background-repeat: no-repeat;
}
.xin_top_info_cz4 {
	background-position: 15px -120px; background-image: url("img/mx_dh.png"); background-repeat: no-repeat;
}
.xin_top_info_cz5 {
	background-position: 15px -155px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-image: url("img/mx_dh.png"); background-repeat: no-repeat;
}
.xin_top_info_xiaoxi {
	margin: 0px 15px; position: relative;
}
.xin_top_info_zx {
	top: 33px; width: 130px; right: -15px; position: absolute; z-index: 99999; background-color: rgb(239, 243, 245);
}
.xin_top_info_cz6 {
	background-position: 15px 10px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-image: url("/m/images/mx_gz.png"); background-repeat: no-repeat;
}
.xin_top_info_cz7 {
	background-position: 15px -30px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-image: url("/m/images/mx_gz.png"); background-repeat: no-repeat;
}
.xin_top_info_cz8 {
	background-position: 15px -70px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; background-image: url("/m/images/mx_gz.png"); background-repeat: no-repeat;
}
.xin_top_info_cz9 {
	background-position: 15px -196px;
}
.xin_top_typeface:hover {
	color: rgb(52, 152, 219); text-decoration: underline;
}
.mx_ck {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 50px; height: 20px;
}
.mx_classlist .mx_ckbig {
	padding: 5px; border: 1px solid rgb(241, 241, 241); border-image: none; top: -6px; color: rgb(151, 149, 149); position: absolute; z-index: 5;
}
.mx_classlist .mx_ckbig:hover {
	background: rgb(255, 255, 255); padding: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(151, 149, 149); box-shadow: 0px 0px 10px #666; -webkit-box-shadow: #666 0px 0px 10px; -moz-box-shadow: #666 0px 0px 10px;
}
.mx_sech {
	background: rgb(52, 153, 218); border: 0px currentColor; border-image: none; width: 40px; height: 22px; color: rgb(255, 255, 255); margin-left: 5px; cursor: pointer;
}
.mx_sech1 {
	background: rgb(52, 153, 218); border: 0px currentColor; border-image: none; width: 40px; height: 22px; color: rgb(255, 255, 255); margin-left: 5px; cursor: pointer;
}
.xin_top_logo {
	background: rgb(255, 255, 255); width: 100%; height: 90px;
}
.xin_top_logo .xin_logo {
	margin: auto; width: 1200px; height: 90px; line-height: 90px; overflow: hidden;
}
.xin_logo_bq {
	padding: 0px; width: 184px;
}
.xin_logo .xin_logo_upfile {
	background: url("img/upload.png") no-repeat 25px; border: 1px solid rgb(34, 154, 233); border-image: none; width: 108px; height: 34px; text-align: center; color: rgb(34, 154, 233); line-height: 34px; padding-left: 18px; font-size: 14px; margin-top: 27px; margin-left: 5px; cursor: pointer;
}
.xin_logo .xin_logo_sub {
	width: 627px; height: 36px; overflow: hidden; margin-top: 27px; margin-right: 16px;
}
.xin_logo_form {
	position: relative;
}
.xin_log_input {
	padding: 0px 75px 0px 15px; border: 1px solid rgb(197, 203, 217); border-image: none; width: 535px; height: 33px; color: rgb(129, 131, 132); line-height: 33px; font-size: 15px;
}
.xin_logo_submit {
	background: url("img/sousuo.png") no-repeat; border: 0px currentColor; border-image: none; top: 1px; width: 60px; height: 34px; right: 1px; position: absolute; cursor: pointer;
}
.xin_daohan {
	background-color: rgb(255, 255, 255);
}
.xin_daohan .xin_daohan_cont {
	margin: auto; width: 1200px; height: 42px;
}
.xin_lmbg1 {
	background-color: rgb(18, 139, 243);
}
.xin_daohan .xin_daohan_cont .xin_daohan_lm {
	height: 42px; position: relative;
}
.xin_daohan_lm1 {
	padding: 0px 26px; height: 40px; text-align: center; color: rgb(52, 52, 52); line-height: 40px; font-size: 16px; border-right-color: rgb(255, 255, 255); border-left-color: rgb(255, 255, 255); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: block; position: relative; z-index: 100;
}
.xin_daohan_lm1_yd {
	border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(255, 255, 255); border-left-color: rgb(204, 204, 204); border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid;
}
a.xin_daohan_lm1:hover {
	color: rgb(57, 153, 214);
}
a.xin_daohan_lm1:active {
	color: rgb(57, 153, 214);
}
.xin_daohan_lm_erji {
	border: 1px solid rgb(220, 220, 220); border-image: none; left: -80px; top: 42px; position: absolute; z-index: 99; box-shadow: -3px 3px 5px #dcdcdc, 3px 3px 5px #dcdcdc, 0px 0px 0px #dcdcdc, 0px 6px 5px #dcdcdc; background-color: rgb(246, 246, 246); -webkit-box-shadow: -3px 3px 5px #DCDCDC, 3px 3px 5px #DCDCDC, 0 0 0 #DCDCDC, 0 6px 5px #DCDCDC; -moz-box-shadow: -3px 3px 5px #DCDCDC, 3px 3px 5px #DCDCDC, 0 0 0 #DCDCDC, 0 6px 5px #DCDCDC;
}
.xin_daohan_lm_erji .xin_daohan_lm_erjishinei {
	padding: 15px 15px 0px; background-color: rgb(255, 255, 255);
}
.xin_daohan_lm_erji .xin_daohan_lm_erjishinei table {
	width: 950px;
}
.xin_daohan_lm_erji .xin_daohan_lm_erjishinei table a {
	font-size: 14px;
}
.xin_daohan_lm_erji .xin_daohan_lm_erjishinei table a:hover {
	color: rgb(255, 120, 49);
}
.xin_hlc {
	height: 42px; color: rgb(240, 240, 240); line-height: 42px;
}
.xin_hlp {
	padding: 0px 6px; height: 42px; line-height: 42px;
}
.xin_daohan_lmd {
	height: 2px;
}
.xin_daohan_shouye {
	background: url("img/shouye.png") no-repeat 30px 10px; padding-left: 50px;
}
.xin_daohan_shinei {
	background: url("img/xiala.png") no-repeat 103px; padding-right: 42px; padding-left: 32px;
}
.xin_daohan_shinei2 {
	background: url("img/xiala2.png") no-repeat 103px; padding-right: 42px; padding-left: 32px;
}
.xin_daohan_shinei:hover {
	background: url("img/xiala2.png") no-repeat 103px; padding-right: 42px; padding-left: 32px;
}
.xin_daohan_shouye2 {
	background: url("img/shouye2.png") no-repeat 30px 10px; padding-left: 50px;
}
.xin_daohan_shouye:hover {
	background: url("img/shouye2.png") no-repeat 30px 10px; padding-left: 50px;
}
.xin_daohan_shinei3 {
	background: url("img/xiala.png") no-repeat 75px; padding-right: 42px; padding-left: 32px;
}
.xin_daohan_shinei4 {
	background: url("img/xiala2.png") no-repeat 75px; padding-right: 42px; padding-left: 32px;
}
.xin_daohan_shinei3:hover {
	background: url("img/xiala2.png") no-repeat 75px; padding-right: 42px; padding-left: 32px;
}
.xin_daohan_shinei5 {
	background: url("img/xiala.png") no-repeat 90px; padding-right: 42px; padding-left: 32px;
}
.xin_daohan_shinei6 {
	background: url("img/xiala2.png") no-repeat 90px; padding-right: 42px; padding-left: 32px;
}
.xin_daohan_shinei5:hover {
	background: url("img/xiala2.png") no-repeat 90px; padding-right: 42px; padding-left: 32px;
}
.xin_lm_checked {
	color: rgb(34, 154, 233);
}
.xin_display {
	display: none;
}
.xin_xian {
	border: currentColor; border-image: none; height: 1px; line-height: 1px; background-color: rgb(220, 220, 220);
}
.mx_ckbig {
	padding: 5px; border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(151, 149, 149);
}
.mx_ckbig:hover {
	background: rgb(255, 255, 255); padding: 5px; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(151, 149, 149); box-shadow: 0px 0px 10px #666; -webkit-box-shadow: #666 0px 0px 10px; -moz-box-shadow: #666 0px 0px 10px;
}
.xin_imgshow {
	width: 280px; height: 210px; text-align: center; overflow: hidden; display: block; position: relative;
}
.xin_imgshow img {
	left: 50%; top: 50%; position: absolute; max-height: 210px; max-width: 280px; transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%);
}
.xin_xiashou {
	left: 0px; width: 100%; height: 52px; bottom: 0px; position: absolute;
}
.xin_xiashou .xin_xiazai {
	border-radius: 3px; width: 107px; height: 36px; text-align: center; color: rgb(255, 255, 255); line-height: 36px; margin-top: 8px; margin-left: 30px; cursor: pointer; background-color: rgb(254, 120, 49); -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.xin_shoucang {
	background: rgba(0, 0, 0, 0.8); border-radius: 3px; width: 107px; height: 36px; text-align: center; color: rgb(255, 255, 255); line-height: 36px; margin-top: 8px; margin-right: 30px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.xin_footleft {
	background: url("img/logo-top.png") no-repeat; width: 196px; height: 36px; margin-left: 88px;
}
.xin_footinput {
	margin: 30px 0px 0px 88px; width: 180px;
}
.xin_footinput select {
	padding: 0px 10px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); border-image: none; height: 30px; line-height: 30px; letter-spacing: 2px; font-size: 15px; -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.xin_footinput select option {
	letter-spacing: 2px; font-size: 15px;
}
.xin_footleft div {
	color: rgb(25, 107, 141); font-size: 15px; font-weight: lighter;
}
.xin_footleft p {
	color: rgb(138, 153, 159); padding-top: 2px; font-size: 12px;
}
.xin_footright {
	width: 600px; margin-top: 40px;
}
a.xin_bianse:hover {
	color: rgb(255, 120, 49);
}
.xin_mag {
	cursor: url(img/magnify.cur), pointer;
}
.sn_fenye {
	margin: 15px auto 30px; text-align: center;
}
.sn_fenye span {
	padding: 0px 14px; border-radius: 2px; border: 1px solid rgb(221, 221, 221); border-image: none; height: 28px; color: rgb(51, 51, 51); line-height: 28px; overflow: hidden; text-decoration: none; margin-left: 6px; display: inline-block; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.sn_fenye a {
	padding: 0px 14px; border-radius: 2px; border: 1px solid rgb(221, 221, 221); border-image: none; height: 28px; color: rgb(51, 51, 51); line-height: 28px; overflow: hidden; text-decoration: none; margin-left: 6px; display: inline-block; -moz-border-radius: 2px; -webkit-border-radius: 2px;
}
.sn_fenye a.page_xiayiye {
	border-color: rgb(221, 221, 221); color: rgb(51, 51, 51);
}
.sn_fenye a.page_xiayiye:hover {
	background: rgb(221, 221, 221); color: rgb(34, 154, 233);
}
.sn_fenye a:hover {
	background: rgb(221, 221, 221); color: rgb(34, 154, 233);
}
.sn_fenye .b_page span {
	background: rgb(34, 154, 233); border-color: rgb(34, 154, 233); color: rgb(255, 255, 255);
}
.sn_fenye .page_currentpage {
	background: rgb(34, 154, 233); border-color: rgb(34, 154, 233); color: rgb(255, 255, 255);
}
.ssn_fenye {
	text-align: center;
}
.ssn_fenye span {
	padding: 0px 6px; color: rgb(51, 51, 51); line-height: 28px; font-size: 12px; font-weight: lighter; margin-left: 6px;
}
.ssn_fenye a {
	padding: 0px 6px; color: rgb(51, 51, 51); line-height: 28px; font-size: 12px; font-weight: lighter; margin-left: 6px;
}
.ssn_fenye .b_page span {
	background: rgb(34, 154, 233); border-color: rgb(34, 154, 233); color: rgb(255, 255, 255);
}
.ssn_fenye .page_currentpage {
	background: rgb(34, 154, 233); border-color: rgb(34, 154, 233); color: rgb(255, 255, 255);
}
.ssn_fenye a:hover {
	background: rgb(221, 221, 221); border-color: rgb(221, 221, 221); color: rgb(34, 154, 233);
}
.xsn_fenye {
	text-align: center;
}
.xsn_fenye span {
	padding: 0px 6px; color: rgb(51, 51, 51); line-height: 28px; font-size: 12px; font-weight: lighter; margin-left: 6px;
}
.xsn_fenye a {
	padding: 0px 6px; color: rgb(51, 51, 51); line-height: 28px; font-size: 12px; font-weight: lighter; margin-left: 6px;
}
.xsn_fenye a.page_xiayiye {
	border-color: rgb(221, 221, 221); color: rgb(51, 51, 51);
}
.xsn_fenye a.page_xiayiye:hover {
	background: rgb(221, 221, 221); border-color: rgb(221, 221, 221); color: rgb(34, 154, 233);
}
.mx_rightlink {
	width: 36px; right: 5px; bottom: 180px; position: fixed; z-index: 11200;
}
.mx_rightlink dd {
	width: 36px; cursor: pointer;
}
.mx_topd {
	background: url("img/mx_rightfd.png") no-repeat; height: 35px;
}
.mx_topd:hover {
	background-position: -36px 0px;
}
.mx_ewm {
	background: url("img/mx_rightfd.png") no-repeat 0px -40px; height: 30px; margin-top: 5px;
}
.mx_ewm:hover {
	background-position: -36px -40px;
}
.mx_qq {
	background: url("img/mx_rightfd.png") no-repeat 0px -70px; height: 30px; margin-top: 0px;
}
.mx_qq:hover {
	background-position: -36px -70px;
}
.mx_wt {
	background: url("img/mx_rightfd.png") no-repeat 0px -105px; height: 30px; margin-top: 3px;
}
.mx_wt:hover {
	background-position: -36px -105px;
}
.xin_zshu {
	font-size: 12px; font-weight: lighter;
}
.xin_hye {
	width: 118px; display: inline-block;
}
.xin_hye_sxuan {
	margin: auto; padding: 10px 26px 10px 10px; width: 90px; text-align: center; color: rgb(102, 102, 102); cursor: pointer;
}
.xin_hye_sxuan_img {
	background: url("img/xj.png") no-repeat 86px rgb(255, 255, 255);
}
.xin_hye_sxuan_img2 {
	background: url("img/xj2.png") no-repeat 86px rgb(255, 255, 255);
}
